<!-- Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createUserModalLabel">Add New User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="crudUserSubmitForm(event)" id="userCrudForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstNameInput" required
                            placeholder="Enter First Name">
                        <label for="nameInput">Enter First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastNameInput" required
                            placeholder="Enter Last Name">
                        <label for="nameInput">Enter Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" required placeholder="Enter Email"
                            autocomplete="email">
                        <label for="nameInput">Enter Email Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="username" class="form-control" id="userNameInput" required
                            placeholder="Enter Username" autocomplete="username">
                        <label for="nameInput">Enter Username</label>
                        <small>usernames should be different</small>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="passwordInput" required
                            placeholder="Enter Your Password" autocomplete="current-password">
                        <label for="passwordInput">Enter Your Password</label>
                        <small>password should not match for users</small>
                    </div>
                    <button type="submit" class="btn btn-primary col-12">Create
                        User</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>