{% block users_row %}
{% for user in users %}
{% if not user.pk == request.user.pk %}
{% if forloop.last %}
<tr class="text-center" id="row_{{user.id}}" hx-trigger="revealed"
    hx-get="{% url 'users' %}?page={{ page_obj.number|add:1 }}" hx-swap="afterend">
    {% else %}
<tr class="text-center" id="row_{{user.id}}">
    {% endif %}
    <th scope="row" class="id_{{user.pk}}">{{user.pk}}</th>
    <td class="title_{{user.pk}}">{{user.title}}</td>
    <td class="age_{{user.pk}}">{{user.age}}</td>
    <td class="status_{{user.pk}}">
        {% if user.status %}
        <span class="badge text-bg-success">Active</span>
        {% else %}
        <span class="badge text-bg-warning">Unactive</span>
        {% endif %}
    </td>
    <td>
        <button type="submit" class="btn btn-danger"
            onclick="deleteUser('{{request.COOKIES.csrftoken}}', {{user.id}})">Delete</button>
    </td>
</tr>
{% endif %}
{% endfor %}
{% endblock %}